<!DOCTYPE html>
<html>

<head>
  <title>Admin Page</title>
  <style>
    body {
      background-color: #fff;
      /* 배경색은 흰색(#fff)로 설정 */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .neon-sign-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .neon-sign {
      /* border: 4px solid #ff0; */
      border: 0px;
      border-radius: 15px;
      padding: 10px;
      width: 400px;
      height: 80px;
      overflow: hidden;
      background-color: #000000;
      /* 테두리 안의 배경색을 차콜색(#444)으로 설정 */
      display: flex;
      /* 추가: flex 컨테이너로 설정 */
      justify-content: flex-end;
      /* 수정: 가로 방향 오른쪽 정렬 */
      align-items: center;
      /* 추가: 세로 방향 가운데 정렬 */
    }

    /* .neon-sign .neon-text {
      white-space: nowrap;
      font-size: 3em;
      font-family: 'Shadows Into Light', cursive;
      color: #ffffff;
      -webkit-text-stroke: 2px #eb7a9f;
      text-shadow: 0 0 10px #eb7a9f, 0 0 20px #eb7a9f, 0 0 30px #eb7a9f, 0 0 40px #eb7a9f, 0 0 70px #eb7a9f, 0 0 80px #eb7a9f, 0 0 100px #eb7a9f, 0 0 150px #eb7a9f;
      animation: neon-animation 10s linear infinite;
    }

    .neon-sign .neon-text {
      white-space: nowrap;
      font-size: 3em;
      font-family: 'Shadows Into Light', cursive;
      color: transparent;
      -webkit-text-stroke: 2px #FFC107;
      text-shadow: 0 0 10px #FFC107, 0 0 20px #FFC107, 0 0 30px #FFC107, 0 0 40px #FFC107, 0 0 70px #FFC107, 0 0 80px #FFC107, 0 0 100px #FFC107, 0 0 150px #FFC107;
      animation: neon-animation 10s linear infinite;
    } */

    @font-face {
      font-family: 'GamsengCafe';
      src: url('/css/KNPSKkomi.otf') format('truetype');
    }

    .neon-sign .neon-text {
      white-space: nowrap;
      font-size: 3em;
      /* font-family: 'Shadows Into Light', cursive; */
      font-family: 'GamsengCafe', cursive;
      /* color: transparent; */
      color: #f8efd7;
      -webkit-text-stroke: 1px #f8efd7;
      text-shadow: 0 0 10px #edaae4, 0 0 20px #edaae4, 0 0 30px #edaae4, 0 0 40px #edaae4, 0 0 70px #edaae4;
      animation: neon-animation 10s linear infinite;
    }




    @keyframes neon-animation {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(-100%);
      }
    }

    .song-list-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      /* width: 400px; */
      /* 너비는 neon-sign과 동일하게 설정 */
    }

    .song-index {
      margin-right: 10px;
      font-size: 1.5em;
      /* 숫자 앞에 공간을 주기 위해 폰트 크기를 조절합니다. */
    }

    .song-info {
      display: flex;
      align-items: center;
    }

    .song-info-text {
      font-size: 1.5em;
      font-family: 'GamsengCafe', cursive;
    }

    .button-group {
      display: flex;
      align-items: center;
      margin-right: auto;
      /* 버튼들을 오른쪽으로 정렬하기 위해 왼쪽 여백을 설정합니다. */
    }

    .button-group button {
      background-color: #FFC107;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-right: 5px;
      padding: 5px;
      cursor: pointer;
      font-size: 1.2em;
    }

    .delete-button {
      background-color: #eb7a9f;
      /* 분홍색 배경색으로 설정 */
    }
  </style>
  <link href="/css/digital-7.ttf" rel="stylesheet">
</head>

<body>
  <div class="neon-sign-container">
    <div class="neon-sign">
      <div class="neon-text">
        <%= songs.length> 0 ? songs[0] : '' %>
      </div>
    </div>
  </div>

  <div>
    <h2>Add a Song</h2>
    <form action="/admin" method="post">
      <input type="text" name="song" placeholder="Enter song name and artist" required>
      <button type="submit">Add Song</button>
    </form>

    <h2>Song List</h2>
    <ul id="song-list">
      <% songs.forEach((song, index)=> { %>
        <li data-song-id="<%= index %>" class="song-list-item">
          <div class="button-group">
            <form id="deleteForm<%= index %>" action="/admin/<%= index %>?_method=DELETE" method="post">
              <button type="submit" class="delete-button" data-index="<%= index %>">Delete</button>
            </form>
            <form id="upForm<%= index %>" action="/admin/<%= index %>/up" method="post">
              <input type="hidden" name="index" value="<%= index %>">
              <button type="submit" class="up-button" data-index="<%= index %>">Up</button>
            </form>
            <form id="downForm<%= index %>" action="/admin/<%= index %>/down" method="post">
              <input type="hidden" name="index" value="<%= index %>">
              <button type="submit" class="down-button" data-index="<%= index %>">Down</button>
            </form>
            <span class="song-info-text">
              <%= song %>
            </span>
          </div>
        </li>
        <% }); %>
    </ul>

  </div>

  <script>


  </script>
</body>

</html>